body {
  font-family: 'AnekGujarati', sans-serif;
  background: url('img/abc.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #761316;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Slight white overlay for readability */
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nameText {
  font-family: 'AnekGujarati', sans-serif;
  font-weight: bold;
  color: #761316;
  margin-bottom: 10px;
}

.name-input, .dropdown-input {
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
  width: 90%;
  font-weight: bold;
  color: #761316;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.image-preview {
  position: relative;
  display: inline-block;
}

.preview-image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border: 2px solid #761316;
  border-radius: 5px;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  color: #761316;
  text-shadow: 1px 1px 2px #fff;
}

.generate-button {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 16px;
  background-color: #761316;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generate-button:hover {
  background-color: #c59353;
}

.hidden {
  display: none;
}

h1 {
  color: #761316;
  font-size: 24px;
  margin-bottom: 20px;
}


.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #c59353;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
